<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Collection</title>
  </head>
  <body>
    <h3>Car List</h3>
    <br></br>
  <form action="/index" method="post">
    <label>Make</label><input type="text" name="Make" value=""><br>
    <label>Model</label><input type="text" name="Model" value=""><br>
    <label>Color</label><input type="text" name="Color" value="" placeholder><br>
    <label>Features</label><input type="text" name="Features" value=""><br>
    <label>Size</label><input type="text" name="size" value=""><br>
    <button type="submit" name="button">Submit</button>
  </form>
  {{#Cars}}
      <h2>Inventory</h2>
      <p>""</p>
  </body>
</html>
